@model MVCPage.ViewModel.PhieuKhamCreateVM
@{
    ViewData["Title"] = "Tạo phiếu khám";
}
<script>
$(document).ready(function(){
   $('select').change(function(){
       $('#TrieuChung').val( $("#ChuanDoan").val());
   });
});
</script>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="PhieuKham" asp-method="post" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="PhieuKhams.MaBenhNhan" class="form-control" type="hidden"/>
                <span asp-validation-for="PhieuKhams.MaBenhNhan" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="hidden" asp-for="PhieuKhams.MaNhanVien" class="form-control" />
                <span asp-validation-for="PhieuKhams.MaNhanVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tên bệnh nhân</label>
                <input type="Text" class="form-control"  asp-for="PhieuKhams.TenBenhNhan" disabled />
            </div>
             <div class="form-group">
                <label class="control-label">Tên Bác Sỹ</label>
                <input type="Text" class="form-control"  asp-for="PhieuKhams.TenBacSy" disabled />
            </div>
            <div class="form-group">
                Triệu chứng <br />
                <select id="ChuanDoan" class="selectpicker" multiple data-live-search="true" placeholder="Vui lòng chọn bệnh" required="">
                    @foreach (var item in Model.listTenBenh){
                      <option value="@item.TenBenh">@item.TenBenh</option> 
                    }
                </select>
                <input type="hidden" id="TrieuChung" name="TrieuChung" value="" />
                <span asp-validation-for="PhieuKhams.TrieuChung" class="text-danger"></span>
            </div>
             <div class="form-group">
                 Ngày khám
                <input asp-for="PhieuKhams.NgayKham" class="form-control" readonly />
                <span asp-validation-for="PhieuKhams.NgayKham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type = "submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


