@model ApplicationCore.DTOs.SaveNhanVienDTO
@{
    ViewData["Title"] = "Sửa thông tin ";
}
<h3>Thông tin cá nhân</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword" onsubmit="return CheckPassword()" asp-controller="NhanVien">
            <div class="form-group">
                <label class="control-label">Nhập lại mật khẩu cũ</label>
                <input type="Password" name="MatKhau" value="@ViewData["MatKhau"]" class="form-control" required=""/>
                <i class="text-danger">@ViewData["InvalidPassword"]</i>
            </div>
            <div class="form-group">
                <label class="control-label">Nhập mật khẩu mới</label>
                <input type="Password" id="newPass1" name="pass1" class="form-control" required=""/>
            </div>
            <div class="form-group">
                <label class="control-label">Nhập lại mật khẩu mới</label>
                <input type="Password" id="newPass2" name="pass2"  class="form-control" required=""/>
                <i id="error" class="text-danger"></i>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu thông tin " class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở về trang trước</a>
</div>
<script>
    function CheckPassword(){
        var pass1 = document.getElementById("newPass1").value;
        var pass2 = document.getElementById("newPass2").value;
        if(pass1 == pass2){
            return true;
        }else{
           document.getElementById("error").innerHTML = "Mật khẩu không khớp";
           document.getElementById("newPass2").value = "";
           document.getElementById("newPass2").focus();
           return false;
        }
    }
</script>