<div class="list-group list-group-flush">  
    <a asp-action="Index" asp-controller="Home" class="list-group-item list-group-item-action bg-light ">Trang chủ</a>
    <a asp-action="Index" asp-controller="BenhNhan" class="list-group-item list-group-item-action bg-light">Bệnh nhân </a>
    <a asp-action="Index" asp-controller="Thuoc" class="list-group-item list-group-item-action bg-light">Thuốc</a>
    <a asp-action="Index" asp-controller="DonThuoc" class="list-group-item list-group-item-action bg-light">Đơn thuốc</a>
    <a asp-action="Index" asp-controller="Benh" class="list-group-item list-group-item-action bg-light">Loại bệnh </a>
</div>