<div class="list-group list-group-flush">  
    <a asp-action="Index" asp-controller="Home" class="list-group-item list-group-item-action bg-light ">Trang chủ</a>
    <a asp-action="Index" asp-controller="NhanVien" class="list-group-item list-group-item-action bg-light">Nhân viên </a>
    <a asp-action="Index" asp-controller="BenhNhan" class="list-group-item list-group-item-action bg-light">Bệnh nhân </a>
    <a asp-action="Index" asp-controller="Thuoc" class="list-group-item list-group-item-action bg-light">Thuốc</a>
    <a asp-action="Index" asp-controller="DonThuoc" class="list-group-item list-group-item-action bg-light">Đơn thuốc</a>
    <a asp-action="Index" asp-controller="PhieuKham" class="list-group-item list-group-item-action bg-light">Danh sách khám</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Báo cáo</a>
</div>