@model ApplicationCore.DTOs.SaveNhanVienDTO

@{
    ViewData["Title"] = "Thêm mới ";
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="NhanVien" asp-method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Chức danh</label>
                <br />
                <select name="MaVaiTro" class="form-control" required>
                @{
                    foreach(var m in ViewData["MaVaiTro"] as IEnumerable<ApplicationCore.DTOs.SaveVaiTroDTO>)
                    {
                        <option value="@m.MaVaiTro" selected>@m.TenVaiTro</option>;
                    }
                }
                </select>
                <span asp-validation-for="MaVaiTro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoTen" class="control-label"></label>
                <input asp-for="HoTen" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
               <label asp-for="GioiTinh" class="control-label"></label>
               <select asp-for="GioiTinh" class="form-control" required>
                    <option value="Nam" selected>Nam</option>
                    <option value="Nam" >Nữ</option>
                </select>
                <span asp-validation-for="GioiTinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgaySinh" class="control-label"></label>
                <input asp-for="NgaySinh" class="form-control" />
                <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở lại trang trước</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
